/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap');
:root {
  --background-dark: #e2a041;
  --background-light: #e6d4c8;
  /* --background-highlight: #e6341f; */
  --background-highlight: #f24f64;
  --background-red: #e6331f;
  --text-dark: #333;
  --text-grey: #666;
  --text-white: #fff;
  --border: 3px solid black;
}
* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}
/* * + * {
  margin-top: 1.5em;
} */
p {
  line-height: 2rem;
}
a {
  text-decoration: none;
}
/* ::selection {
  background: var(--background-light);  
} */
html,
body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-dark);
  width: 100%;
  overflow-x: hidden;
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}
html {
  background-color: var(--background-dark);
  padding: 0.5rem;
}
body {
  min-height: calc(100vh - 1rem);
  background-color: white;
  color: #333;
}
ul {
  margin-left: 2rem;
  padding-bottom: 1rem;
}

li {
  padding-bottom: 1rem;
}

.showKeys {
  background: pink !important;
  color: red !important;
}

.verzorgingen .titleWrap a {
  font-size: 16px;
}
